extends layout

block content

    h1 #{title} #[span 12/06/2021]
    //-H5 Project type: personal
    br
    p The cheatsheet will cover every HTML tag in HTML5. If you are like me then you can remember about 5 tags and then google: "how to do a link in HTML", then this is for you. This cheatsheet will briefly cover tags so that you can quickly use them and will hopefully also introduce you to tags you never knew existed. I will organise it in a way such that tags of the same type are together.
    p Here is a very quick refresher on tags: 
    p 
    br
    h4 General tags 
    code &lt;!--This is a comment. Comments are not displayed in the browser--&gt; 
    br
    br
    p All HTML documents must start with a #[code &lt;!DOCTYPE&gt;] declaration.
    
    br
    h4 Active tags 
    <hr style="height:2px;border-width:0;color:white;background-color:white">
    h5 &lt;a&gt;
    p &lt;a href=&quot;https://www.google.com&quot;&gt;Click to go to www.google.com&lt;/a&gt;
    <a href="https://www.google.com">Click to go to www.google.com</a>
    <hr style="height:2px;border-width:0;color:white;background-color:white">
    h5 &lt;abbr&gt;
    code &lt;abbr title=&quot;Hyper Text Markup Language&quot;&gt;HTML&lt;/abbr&gt; 
    br
    br
    p This blog is about <abbr title="Hyper Text Markup Language">HTML</abbr>