extends layout

block content

  h1 Hi, I'm #
  br
  h5 Welcome to #{title}. Here you can find stuff about me
  br
  h5 Check out:
  ul 
    li 
      a(href="/projects") Projects 
      placeholder for my projects
    li 
      a(href="/blogs") Blogs 
      placeholder for some blogs that I write
    
    //- linked in + github





  //- h1 Dynamic content

  //- if error
  //-   p Error getting dynamic content.
  //- else
  //-   p The library has the following record counts: