body {
  /*background-color: black;*/
  color: white;
  font-family:sans-serif;/*font-family:'Franklin Gothic Medium';*/

  /* background-color: #000000;
  opacity: 1;
  background-image:  linear-gradient(135deg, #16161a 25%, transparent 25%), linear-gradient(225deg, #16161a 25%, transparent 25%), linear-gradient(45deg, #16161a 25%, transparent 25%), linear-gradient(315deg, #16161a 25%, #000000 25%);
  background-position:  4px 0, 4px 0, 0 0, 0 0;
  background-size: 8px 8px;
  background-repeat: repeat; */

  background-color: #000000;
  opacity: 1;
  background-image:  radial-gradient(#3e3e3e 1.1px, transparent 1.1px), radial-gradient(#3e3e3e 1.1px, #000000 1.1px);
  background-size: 44px 44px;
  background-position: 0 0,22px 22px;

  /* https://www.magicpattern.design/tools/css-backgrounds */
  
  /* line-height: 170%; */
}

.title {
  font-weight: bold;
}

p {
  font-size:1.1em;
  letter-spacing: 0.25px;
}

li {
  font-size:1.1em;
  letter-spacing: 0.25px;
}
pattern {
  background-color: #000000;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 7px ), repeating-linear-gradient( #12121655, #121216 );
  background-color: #000000;
  
}

a {
  color: #00B7FF;
  padding-bottom: 10px;
  font-size:larger;
}

input {
  background-color: #000000;
  color: white;
}

input p {
  margin: 0;
  padding: 0;
}

textarea {
  background-color: #000000;
  color: white;
}

p a {
  font-size: 16px;
}

pre {
  color:aquamarine;
  border-color: white;
  border-style: solid;
  border-radius: 1px;
  border-width:thin;
  padding: 10px;
}

code {
  color:aquamarine;
  border-color: white;
  border-style: solid;
  /*border-radius: 1px;*/
  border-width:thin;
  padding: 6px;
  background-color:rgb(46, 46, 53);
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.invis {
  visibility: hidden;
}

/* margin - outside container, padding - within container*/
.content {
  width: 1100px;
  margin: auto;
  margin-top:20px;
  margin-bottom:60px;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  border-width:thin;
  padding:30px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.projects {
  margin-top:20px;
}

.projects h3 {
  font-weight: bold;
}

.projects a {
  color:white;
  text-decoration:none;
}

.project {
  border-color: white;
  border-style: solid;
  border-width:thin;
  padding:20px;
}

li {
  padding-bottom:7px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  width: 90%;
}

iframe {
  display:block;
  margin: 0 auto;
  /* align-self:center; */
}

.hpic {
  width:60%;
  height:60%;
}

.smallpic {
  width:20%;
  height:20%;
}

.compare {
  width:40%;
  height:300px;
  display:inline;
  margin: 0 30px;
}

.title {
  margin-top:30px;
  margin-bottom: 30px;
}